@font-face {
    font-family: 'Instrument Sans';
    src: url('/assets/fonts/Instrument_Sans/InstrumentSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Clash Display';
    src: url('/assets/fonts/ClashDisplay/ClashDisplay.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-display;
    @apply font-medium;
    @apply tracking-normal;
    @apply text-headings-dark;
    @apply uppercase;
}

h1 {
    @apply text-5xl;
    @apply leading-[120%];

}

h2 {
    @apply text-4xl;
    @apply font-bold;
}

h3 {
    @apply text-3xl;
    @apply font-bold;
}

h4 {
    @apply text-2xl;
    @apply font-normal;
}

h5 {
    @apply text-xl;
    @apply font-normal;
}

h6 {
    @apply text-lg;
    @apply font-light;
}


ul {
    @apply my-4;
}

p {
    @apply text-text;
    @apply font-normal;
    @apply my-3;

    @screen md {
        @apply my-5;
    }
}


::selection {
    @apply text-white;
    @apply bg-blue-400;
}

[x-cloak] {
    display: none !important;
}